.Ticket {
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  
    @media (max-width: 570px) {
      width: 100%;
    }
  }
  
  .FlexRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
  }
  
  .GridRow {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 3fr 2.6fr 2fr;
    grid-column: 2;
  }
  
  .Logo {
    grid-column: 3;
  }
  
  .Price {
    color: #2196f3;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }
  
  .Forward {
    margin: 20px 0 10px;
  }
  
  .TextSecondary {
    color: #a0b0b9;
  }